@font-face {
  font-family: "Geomanist";
  src: url("../../Fonts/Geomanist/Geomanist-Ultra.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Geomanist";
  src: url("../../Fonts/Geomanist/Geomanist-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Geomanist";
  src: url("../../Fonts/Geomanist/Geomanist-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Geomanist";
  src: url("../../Fonts/Geomanist/Geomanist-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geomanist";
  src: url("../../Fonts/Geomanist/Geomanist-Book.otf") format("opentype");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "Geomanist";
  src: url("../../Fonts/Geomanist/Geomanist-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geomanist";
  src: url("../../Fonts/Geomanist/Geomanist-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geomanist";
  src: url("../../Fonts/Geomanist/Geomanist-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Geomanist";
  src: url("../../Fonts/Geomanist/Geomanist-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: var(--main-color);
  color: var(--text-color-primary);
  font-family: "Geomanist", sans-serif;
  padding-top: 78px; /* nav height + container padding */
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eeeeee;
}
::-webkit-scrollbar-thumb {
  background: #555555;
}

:root {
  --main-color: #0e0918;
  --navbar-color: #000001;
  --navbar-li-hover: #1c1c1c;
  --border-color: rgb(31 25 42);
  --text-color-primary: #b1a9be;
  --color-primary-hover: #e4e4e4;
  --text-opacity: 1;
  --text-white: rgb(255 255 255 / var(--text-opacity, 1));
  --text-color-secondry: #f77726;
  --button-orange-gradient: linear-gradient(
    180deg,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  --button-main-gradient: radial-gradient(
    5rem 60% at 100% 50%,
    #ffffff80,
    #292931 90%
  );
  --header-text-gradient: linear-gradient(180deg, #ffffff1a, #0003 58%),
    linear-gradient(140deg, #fff, #7c65a1);
  --section-backlayer-border: 1px solid hsla(0, 0%, 100%, 0.1);
  --section-backlayer-boxshadow: inset 0 0.450581px #ffffff4d,
    0 0 36.0465px #ffffff0f;
  --section-backlayer-gradient: linear-gradient(116.91deg, #e3a5724f, #5780e661)
    no-repeat;
  --section-background-gradient: linear-gradient(180deg, #211a2e 10%, #000)
    no-repeat;
  --section-button-hover: #241d30;
  --section-notactive-gradient: linear-gradient(
    180deg,
    rgba(37, 30, 50, 1) 0%,
    rgba(23, 18, 31, 1) 100%
  );
  --section-active-gradient: linear-gradient(0deg, #6b21ef26, #6b21ef26),
    radial-gradient(79.29% 94.78% at 59.78% 129.81%, #7f5eb6 0, #26214900),
    linear-gradient(180deg, #3c3149, #26214900);
}

#nav-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}
nav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: var(--navbar-color);
  color: var(--text-color-primary);
  border: 1px solid rgb(31 25 42);
  border-radius: 8px;
  padding: 0px 10px;
}
.image-container {
  position: relative;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo {
  width: 100;
  height: 24px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.nav-logo.active {
  opacity: 1;
}
.nav-logo:first-child {
  position: relative;
}

.nav-list {
  display: flex;
  margin: 0%;
  padding: 0px 15px;
  height: 100%;
}
.nav-list .nav-item {
  height: 100%;
  list-style: none;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list .nav-item:not(:first-child) {
  margin-left: 35px;
}
.nav-list .nav-item i {
  font-size: 12px;
}
.nav-list .nav-item:hover {
  color: var(--text-white);
}

.drop-list {
  width: 200px;
  position: absolute;
  top: 68px;
  left: -20px;
  opacity: 0;
  padding: 4px;
  cursor: default;
  visibility: hidden;
  border-radius: 8px;
  border: 1px solid rgb(31 25 42);
  background-color: var(--navbar-color);
  transform: translateY(0.5rem);
  transition: all 0.4s cubic-bezier(0.16, 1, 0.5, 1);
  z-index: 1000;
}
.drop-list li {
  font-weight: 300;
  list-style: none;
  color: var(--text-white);
  padding: 10px 8px 10px 15px;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.drop-list li:hover {
  cursor: pointer;
  background-color: rgb(51, 51, 51);
}
.drop-list.dropsmall {
  width: 160px;
}
.show {
  transform: translateY(0);
  display: block;
  opacity: 0.92;
  visibility: visible;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.nav-links .github {
  --gradient-opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-white);
  font-weight: 300;
  padding: 4px 6px;
  border-radius: 8px;
  border: 1px solid var(--text-color-primary);
  gap: 8px;
  background: linear-gradient(to bottom, #26214900 0, #0000006b),
    linear-gradient(
      to bottom,
      rgba(221, 221, 221, var(--gradient-opacity)) 0,
      rgba(221, 221, 221, var(--gradient-opacity))
    );
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links .github:hover {
  --gradient-opacity: 0.16;
}

.nav-links .github i.fa-star {
  font-size: 10px;
}

.nav-links .sign-in {
  cursor: pointer;
  transition: color 0.3s ease;
}
.nav-links .sign-in:hover {
  color: var(--text-white);
}

.nav-links .started {
  text-decoration: none;
  color: var(--text-white);
  padding: 4px 16px;
  border-radius: 8px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transition: all 0.4s ease-out;
  z-index: 1;
}

.nav-links .started::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  z-index: -1;
}

.nav-links .started:hover::before {
  opacity: 1;
}

/*
.tab{
--color-linear-top: #251e32;
    --color-linear-bottom: #17121f;
    --color-radial-center: transparent;
    align-items: flex-start;
    background-image: radial-gradient(circle closest-corner at 55% 185%, var(--color-radial-center), rgba(38, 33, 73, 0)), linear-gradient(180deg, var(--color-linear-top), var(--color-linear-bottom));
    background-repeat: no-repeat;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 8px;
    box-shadow: inset 0 0 #fff3, 0 0 8px #000;
    justify-content: flex-start;
    padding: 24px;
    text-decoration: none;
    transition-duration: .2s, .3s, .3s, .3s, .4s;
    transition-property: transform, border-color, --color-linear-top, --color-linear-bottom, --color-radial-center;
    transition-timing-function: ease;
}
*/

.nav-links {
  gap: 20px;
}
.nav-links .sign-in {
  font-size: 16px;
}
.nav-links .github span:not(:last-child) {
  display: none;
}
.nav-links .github .fa-github {
  font-size: 18px;
}
.nav-links .github span:last-child {
  font-size: 14px;
}
.nav-links .started {
  /* font-size: 14px; */
  padding: 4px 14px;
}
.menu-icon {
  width: 55px;
  height: 40px;
  border-radius: 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-hover);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}
.menu-icon.active {
  font-size: 18px;
  box-shadow: 0 5px 40px -10px #ff9b26, inset -15px 13px 20px #4c5dff,
    inset 20px -55px 20px #ee4f27;
}
.menu-list {
  position: fixed;
  width: 99%;
  top: 78px; /* nav height + container padding */
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  background-color: var(--navbar-color);
  color: var(--text-color-primary);
  border: 1px solid rgb(31 25 42);
  padding: 10px 30px;
  max-height: calc(100vh - 78px); /* viewport height minus nav height */
  overflow-y: auto;
  /* Show scrollbar for menu content */
  scrollbar-width: thin;
  scrollbar-color: var(--text-color-primary) var(--navbar-color);
}
.menuActive {
  display: flex;
}
.menu-item {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-primary-hover);
  padding: 16px 0;
  cursor: pointer;
}

.menu-item span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item span i {
  font-size: 16px;
  transition: rotate 0.2s ease-in-out;
}
.menu-item span i.chevronActive {
  rotate: 180deg;
  transition: rotate 0.3s ease-in-out;
}

.menu-item ul.menu-accordian-list {
  padding: 0 20px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item ul.menu-accordian-list li {
  list-style: none;
  font-size: 16px;
  color: var(--color-primary-hover);
  margin: 30px 0px;
  padding: 0%;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Show items when panel is open */
.menu-item ul.menu-accordian-list[style*="max-height"] {
  opacity: 1;
  visibility: visible;
}

.menu-item ul.menu-accordian-list[style*="max-height"] li {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 1200px) {
}
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .nav-list {
    padding-right: 0;
  }
  .nav-list .nav-item {
    font-size: 14px;
    margin-left: 28px !important;
  }
  .nav-links {
    gap: 15px;
  }
  .nav-links .sign-in {
    font-size: 14px;
  }
  .nav-links .github span:not(:last-child) {
    display: none;
  }
  .nav-links .github .fa-github {
    font-size: 18px;
  }
  .nav-links .github span:last-child {
    font-size: 14px;
  }
  .nav-links .started {
    font-size: 14px;
    padding: 4px 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  .image-container {
    justify-content: flex-start;
    margin-left: 20px;
  }
  /* Hide-on-scroll behavior */
  #nav-container.nav-hidden {
    transform: translateY(-100%);
  }
}
@media (max-width: 767.98px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  .image-container {
    justify-content: flex-start;
    margin-left: 20px;
  }
  .nav-links .github {
    display: none;
  }
  /* Hide-on-scroll behavior */
  #nav-container.nav-hidden {
    transform: translateY(-100%);
  }
}
.hidden {
  display: none;
}
